$cyan: #00FFFF;
$main-green: #00647D;

$body: #B0E2FF;


$default: #666;
$transparent: rgba(255,255,255,0);
$almost-transparent: rgba(255,255,255,.05);


// gray-scale
$black: #000;
$lblack: #111;
$greyblack: #222;
$dgrey: #333;
$dmgrey: #666;
$lmgrey: #999;
$lgrey: #CCC;
$greywhite: #DDD;
$lwhite: #EEE;
$body-white: #f6f6f6;
$white: #FFF;

// other colors for text
$red: #EE3322;

$default-text-color: $red !default;